window {
  margin: 5px;
  border: 1px solid @theme_selected_bg_color;
  background: @theme_bg_color;
  color: @theme_unfocused_text_color;
  font: 16px "Noto Sans";
}

#outer-box {
  margin: 5px;
}

#input {
  margin: 5px;
}

#scroll {
  margin: 5px;
  border: 1px solid @unfocused_borders;
  background: @theme_base_color;
}

#inner-box {
  margin: 5px;
}

#text {
  margin: 5px;
  color: @theme_text_color;
}

#text:selected {
  color: @theme_selected_fg;
}

#entry:selected {
  background: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}
