:root.TridactylThemeNohl {
    --tridactyl-hint-active-bg: rgba(0,0,0,0);
    --tridactyl-hint-active-outline: 0px solid rgba(0,0,0,0);
    --tridactyl-hint-outline: 0px solid rgba(0,0,0,0);
    --tridactyl-hint-bg: rgba(0,0,0,0);
}
