* {
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @unfocused_borders;
  color: @theme_fg_color;
  font: 16px "Source Code Pro", "Font Awesome 6 Free Solid", "Font Awesome 6 Brands";
}

#workspaces button {
  padding: 0 15px;
  background: transparent;
  color: @theme_fg_color;
}

#workspaces button.focused {
  background: @theme_bg_color;
  border-bottom: 3px solid @theme_fg_color;
  color: @theme_fg_color;
}

#workspaces button.urgent {
  background: @theme_fg_color;
  color: @theme_selected_bg_color;
}

#mode {
  margin: 0 4px;
  padding: 0 4px;
  background: @theme_fg_color;
  color: @unfocused_borders;
  font: 16px "Noto Sans";
}

#window{
  font: 16px "Noto Sans";
}

#pulseaudio, #network, #cpu, #memory, #disk, #temperature, #battery, #language, #clock, #tray {
  margin: 0 4px;
  padding: 0 2px;
}

#tray {
  font: 16px "Noto Sans";
}
